body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: margin-left 0.3s;
}

/* Sidebar container */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.24);
  overflow-x: hidden;
  padding-top: 60px;
  transition: width 0.3s ease;
  border-radius: 20px;
}

/* When sidebar is open */
.sidebar.open {
  width: 200px;
}

/* Menu links */
.sidebar a {
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  transform: translateX(-30px);
  opacity: 0;
  transition: all 0.3s ease;
}

/* Animate one by one */
.sidebar.open a {
  transform: translateX(0);
  opacity: 1;
}

.sidebar.open a:nth-child(1) {
  transition-delay: 0.1s;
}
.sidebar.open a:nth-child(2) {
  transition-delay: 0.2s;
}
.sidebar.open a:nth-child(3) {
  transition-delay: 0.3s;
}
.sidebar.open a:nth-child(4) {
  transition-delay: 0.4s;
}

.sidebar.open a:nth-child(5) {
  transition-delay: 0.5s;
}

/* Toggle button */
.open-btn {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.24);
  color: rgba(255, 255, 255, 0.24);
  border: none;
  padding: 10px 15px;
  cursor: pointer;

  z-index: 1000;
  border-radius: 16px;
}

#mainContent {
  padding: 60px 20px;
}

.logo {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}
